.navBar{
    display:flex;
    flex-direction: row;
    background-color: grey;
    margin:0  0 30px 0
    }
    nav a {
      padding: 16px 32px;
      margin:5px 0;
    }
    nav a.active{
        text-decoration: none;
        text-transform: uppercase;
        font-weight: bold;
    }
    